nav li{
    display: inline;
    padding: 30px;
}
a{
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}
aside{
    display: inline-block;
    width: 40%;
    border:none;
    float:right;
    font-size: large;
}
aside > span{
    font-weight:bold
    font-size: larger;
}

#actor{
    margin: 50px;
    background-color: white;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 5px;
    font-weight: 600;
    font-size: large;
    display: inline-block;

}
#quote{
    margin: 50px;
    display: inline-block;
    background-color: white;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 5px;
    font-weight: 600;
    font-size: large;
}
details{
    width: 40%;
    border:none;
    display: inline-block;
}
details > summary{
    font-size: large;
}
body{
    background-color:whitesmoke;
}
h1,h5{
    text-align: center;
}


